# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar
composer.lock

# Build data
/build
/src/HTML/Asset.php
/src/HTML/Render.php
/src/HTML/PrettyHTML.php
/src/HTML/Element.php
/*.php
/*.css
/*.twig
/*.latte